/*html, body {
	margin: 0;
	padding: 0;
}*/

.container {
	display: flex;
	flex-wrap: wrap;
}

.box {
	width: 100%;
}


/*
 *
 * Header
 *
 */



/*
 *
 * Body
 *
 */


.hero {
	 background-size: contain;
	 /*float: left;*/
	 /*margin: 0 2vw 1vw 0;*/
	 /*height: 50vw;*/
	 /*position: relative;*/
	 top: 3px;
	 transition: all 0.5s;
	 width: 100%;

}
